<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1095992384892-fje8aa1osc2lum73lqaab60nq1ekuioi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1095992384892-fje8aa1osc2lum73lqaab60nq1ekuioi</string>
	<key>API_KEY</key>
	<string>AIzaSyDy3ddjnA936zJgBkKyF1sDeREYneWsWIA</string>
	<key>GCM_SENDER_ID</key>
	<string>1095992384892</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>student.roey.honig.firebase-login-app</string>
	<key>PROJECT_ID</key>
	<string>fir-loginapp-d5172</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-loginapp-d5172.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1095992384892:ios:321fb1e7402fe549</string>
	<key>DATABASE_URL</key>
	<string>https://fir-loginapp-d5172.firebaseio.com</string>
</dict>
</plist>